[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/api/*"
  to = "https://aion2.plaync.com/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/ko-kr/api/*"
  to = "https://aion2.plaync.com/ko-kr/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

